@charset "utf-8";
.sn_banner {
  width: 100%;
  position: relative;
  overflow: hidden;
}
.sn_banner > ul:first-child {
  width: 1000%;
  transform: translateX(-10%);
}
.sn_banner > ul:first-child > li {
  width: 10%;
}
.sn_banner > ul:first-child > li > a {
  width: 100%;
}
.sn_banner > ul:first-child > li > a > img {
  width: 100%;
}
.sn_banner > ul:last-child {
  position: absolute;
}
